:root {
    --clr-primary-400: hsl(14, 45%, 36%);
    --clr-secondary-100: hsl(330, 100%, 98%);
    --clr-secondary-400: hsl(332, 51%, 32%);
    --clr-bg-body: hsl(0, 0%, 100%);
    --clr-border: hsl(30, 18%, 87%);
    --clr-bg-card: hsl(30, 54%, 90%);
    --clr-text: hsl(30, 10%, 34%);
    --clr-heading: hsl(24, 5%, 18%);
    --clr-ul-bullet: var(--clr-primary-400);
    --ff-body: 'Outfit', system-ui, sans-serif;
    --ff-heading: 'Young Serif', system-ui, serif;
    --fs-body: 1rem;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
}

body {
    background-color: var(--clr-bg-card);
    color: var(--clr-text);
    font-family: var(--ff-body);
}

.main {
    display: grid;
    place-items: center;
}

.card {
    background-color: var(--clr-bg-body);

    @media (min-width: 533px) {
        & {
            border-radius: 1.5rem;
            margin-block: 5rem;
            max-width: min(46rem, 100% - 4rem);
        }

        & .card__top-image {
            overflow: hidden;
            border-radius: 0.75rem;
            margin: 2.5rem 2.5rem 0;
        }
    }
}

.card__content {
    display: grid;
    gap: 2rem;
    padding: 2.5rem clamp(2rem, 7.5vw, 2.5rem);
}

.card__title {
    color: var(--clr-heading);
    font-family: var(--ff-heading);
    font-size: clamp(2.25rem, 5vw, 2.5rem);
    font-weight: var(--fw-regular);
    line-height: 1;
    margin-block-end: 1.5rem;
}

.section {
    &:has(ul) .section__content {
        display: inline-block;
        vertical-align: middle;
    }

    & ol {
        color: var(--clr-primary-400);
        font-size: 1rem;
        font-weight: var(--fw-bold);
    }
}

.section__title {
    color: var(--clr-primary-400);
    font-family: var(--ff-heading);
    font-size: 1.75rem;
    font-weight: var(--fw-regular);
    line-height: 1;
    margin-block-end: 1.5rem;
}

.section__content {
    color: var(--clr-text);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    margin-inline-start: 1.2rem;
}

.section__list {
    display: grid;
    gap: 0.4rem;
    margin-inline-start: 1.3rem;
    font-size: 0.75rem;
    color: var(--clr-ul-bullet);

    & .label {
        font-weight: var(--fw-bold);
    }
}

.section__border {
    border-top: 1px solid var(--clr-border);
    padding-block-start: 2rem;
}

.preparation {
    --clr-ul-bullet: var(--clr-secondary-400);
    background-color: var(--clr-secondary-100);
    border-radius: 0.75rem;
    padding: clamp(1.5rem, 5vw, 1.75rem);

    & .section__title {
        color: var(--clr-secondary-400);
        font-family: var(--ff-body);
        font-size: 1.25rem;
        font-weight: var(--fw-semibold);
        margin-block-end: 1rem;
    }
}

.nutrition__table {
    border-collapse: collapse;
    margin-top: 0.75rem;
    text-align: left;
    width: 100%;

    & tr:not(:last-child) {
        border-bottom: 1px solid var(--clr-border);
    }

    & th {
        font-weight: var(--fw-regular);
        padding-block: 0.75rem;
        padding-inline-start: 2rem;
        width: 52%;
    }

    & td {
        color: var(--clr-primary-400);
        font-weight: var(--fw-bold);
    }
}
